.parent {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: auto;
    
  }
  
.child {
    /* width: 140%; */
    height: 350px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: auto;
  }


.element{
    width: 100px;
    height: 100px;
    margin: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.productsMain{
    width: 240px;
    height: 200px;
    padding: 10px;
   
}