.inputContainer{
    width: 290px;
    height: 28px;
    position: absolute; 
    top: 18%; 
    left: 100%;
    transform: translateX(-100%);
    display: flex;
    border-radius: 12px;
    border: 2px solid red;
    background-color: rgba(225, 21, 29, 0.1);
}

.searchSymbol{
    width: 30px;
    height: 28px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 18px;
}

.introInput{
    width: 238px;
    height: 22px;
    outline: none;
    border: none;
    background: none;
    padding: 3px 10px;
 }

 .searchResult{
    width: 100%;
    height: 400px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    font-style: italic;
 }