.main{
    position: relative;
    height: 68px;
}

.search{
    width: 85%;
    height: 68px;
    margin: auto;
    position: relative;
}

.inputContainer{
    width: 290px;
    height: 28px;
    display: flex;
    border-radius: 12px;
    border: 2px solid #E1151DD9;
    background-color: rgba(225, 21, 29, 0.1);
}

.searchSymbol{
    width: 30px;
    height: 28px;
    border-radius: 10px;
    background-color: #E1151DD9;
    color: white;
    font-size: 18px;
}

.introInput{
    width: 238px;
    height: 22px;
    outline: none;
    border: none;
    background: none;
    padding: 3px 10px;
 }

 .searchResult{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: white;
    font-style: italic;
    z-index: 12
 }

 @media screen and (min-width: 501px) and (max-width: 1000px) {

    .search{
        justify-content: center;
    }
    
 }
 @media screen and  (max-width: 500px) {
    .search{
        justify-content: center;
    }
 }