@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.main{
    width: 100%;
    height: 106px;
}

.container{
    display: grid;
    width: 100%;
    height: 106px;
    grid-template-columns: 20% 50% 30%
}

.left{
    height: 106px;
}
.middle{ 
    height: 106px;
}
.right{
    height: 106px;
}


.middleContainer{
    width: 100%;
    height: auto;
}

.middleContainer ul{
    list-style-type: none;
}

.middleContainer li{
    margin-right: 40px;
    font-size: 14px;
}

.rightContainer{
    width: 80%;
    height: 50px;
}

.signIn, .signUp{
    display: block;
    height: 100%;
    width: 30%;
    cursor: pointer;
}

.signIn{
    border: 2px solid #E1151DD9;
    border-radius: 5px;
    background: none;
    font-weight: bold;
}

.signUp{
    background: #E1151DD9;
    color: white;
    border-radius: 5px;
    border: 2px solid #E1151DD9;
    font-weight: bold;
}

.footer{
    width: 100%;
    height: 26px;
    background-color: rgba(27, 27, 27, 1);
}

.footerContainer {
    width: 90%;
    height: 26px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.footerContainer div{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    margin-bottom: 2px;
}

.containerRes{
    display: none;
}

.footerContainerRes{
    display: none;
}


@media screen and (min-width: 502px) and (max-width: 1000px) {
    .containerRes{
        display: block;
        display: grid;
        width: 100%;
        height: 106px;
        grid-template-columns: 40% 60%
    }

    .leftRes{
        height: 106px;
    }

    .middleRes{
        height: 106px;
    }

    .middleContainerRes{
        width: 30%;
        height: 100%;
    }
    .container{
        display: none;
    }

    .footer{
        width: 100%;
        height: 50px;
        background-color: rgba(27, 27, 27, 1);
        padding: 2px 0;
    }

    .footerContainer{
        display: none;
    }

    .footerContainerRes{
        width: 100%;
        height: 50px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 13px;
    }
}
@media screen and (max-width: 501px)  {
    .containerRes{
        display: block;
        display: grid;
        width: 100%;
        height: 106px;
        grid-template-columns: 50% 60%
    }

    .leftRes{
        height: 106px;
    }

    .middleRes{
        height: 106px;
    }

    .middleContainerRes{
        width: 60%;
        height: 100%;
    }
    .container{
        display: none;
    }

    .footer{
        width: 100%;
        height: 50px;
        background-color: rgba(27, 27, 27, 1);
        padding: 5px 0;
    }

    .footerContainer{
        display: none;
    }

    .footerContainerRes{
        width: 100%;
        height: 50px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 12px;
    }
}





