@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.main{
    width: 100%;
}

.search{
    width: 85%;
    height: 58px;
    margin: auto;
    position: relative;
    z-index: 12;
}

.detail{
    width: 85%;
    height: auto;
    margin: auto;
    position: relative;
}



.detailOne{
    width: 70%;
    height: auto;
    z-index: 10;
}

.detailTwo{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}

.detailTwo img {
    width: 112%;
    height: 76vh;
}

.detailTitle{
    background: #E1151DD9;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Arvo', serif;
    padding: 0 5px;
    text-shadow: 2px 2px 4px #0000003d;
}


.detailPara{
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.btn{
    outline: none;
    background: none;
    width: 178px;
    height: 59px;
    border-radius: 5px;
    border: 3px solid #151515;
    color: #1B1B1B;
    font-family: 'Arvo', serif;
    font-size: 18px;

}